<nav class="teal z-depth-4">
	<div class="nav-wrapper">
		<a style="margin-left:5px;" href="#" class="brand-logo">TravelNext <i class="material-icons">flight_takeoff</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#">Flights</a></li>
			<li><a href="#">Tours</a></li>
			<li><a routerLink="/about" routerLinkActive="active">About</a></li>
			<li><a href="#">Sign Up</a></li>
			<li><a routerLink="/login" routerLinkActive="active">Login</a></li>
		</ul>
	</div>
</nav>
