<div class="destinations">
    <div class="container">
        <div class="row">
          <div class="col s3">
            DESTINATION 
          </div>
          <div class="col s3">
              DESTINATION 
            </div>
            <div class="col s3">
                DESTINATION 
              </div>
              <div class="col s3">
                  DESTINATION 
                </div>
        </div>
        <div class="row">
            <div class="col s3">
              DESTINATION 
            </div>
            <div class="col s3">
                DESTINATION 
              </div>
              <div class="col s3">
                  DESTINATION 
                </div>
                <div class="col s3">
                    DESTINATION 
                  </div>
          </div>
          <div class="row">
              <div class="col s3">
                DESTINATION 
              </div>
              <div class="col s3">
                  DESTINATION 
                </div>
                <div class="col s3">
                    DESTINATION 
                  </div>
                  <div class="col s3">
                      DESTINATION 
                    </div>
            </div>
      </div>
</div>
